/* General styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('../public/assets/images/puzzle1.jpeg');
    background-position: center; /* Adjust position */
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app {
    text-align: center;
    width: 100%;
}

/* Splash Screen */
#splashScreen {
    display: flex;
    flex-direction: column;     /* Ensure image covers the screen */
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}
#splashScreen h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#splashScreen button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

#splashScreen button:hover {
    background-color: #45a049;
}

/* Game Container */
#gameContainer {
    background-color: #fff;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#puzzleImage {
    max-width: 100%;
    margin-top: 20px;
}

#puzzle {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

.cell.selected {
    background-color: yellow;
}

.cell.found {
    background-color: green;
    color: white;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #4caf50;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

button:hover {
    background-color: #45a049;
}
.cell.wrong {
    background-color: red;
    color: white;
  }
  
